<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="assets/css/bootstrap.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<script type="text/javascript" src="assets/js/jquery-2.2.4.js"></script>
<script type="text/javascript" src="products.js"></script>
</head>
<body>
	<br />
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<form method="post" th:object="${person}"
					enctype="multipart/form-data" class="form">
					<div th:if="${#fields.hasGlobalErrors()}">
						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-exclamation-sign pull-right"
								aria-hidden="true"></span>
							<ul style="padding-left: 10px">
								<li th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</li>
							</ul>
						</div>
					</div>

					<div th:include="layout/fragments::field" th:remove="tag"
						th:with="name='name',label=#{'person.name'}"></div>
					<div th:include="layout/fragments::imgField"
						th:with="name='file',label=#{'person.phone'}"></div>
					<br />
					<button type="submit" class="btn btn-default">Add person</button>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<a href="#" id="refresh" class="btn btn-default pull-right">Odswiez</a>
			</div>
			<div class="panel-body">

				<ul class="list-group">

					<li class="list-group-item clearfix" th:fragment="lista"
						th:each="el,iterStat  : ${persons}"><div class="row">
							<h2 class="col-xs-4" th:text="${iterStat.count  +'. '+ el.name}"></h2>
							<img class="pull-right col-xs-8" style="width: 120px"
								th:src="@{'/phones/'+${el.phone}}" />
						</div></li>
				</ul>
			</div>
		</div>


	</div>
</body>
</html>
